<div id="floating-panel">
  <b><%= t '.start' %>: </b>
  <select id="start" class="form-control">
    <% @places.each do |place| %>
      <option value="<%=place[:latitude]%>,<%=place[:longitude] %>"> <%= place[:initials]%> </option>
    <% end %>
  </select>

  <b><%= t '.end' %></b>
  <select id="end" class="form-control">
    <% @places.each do |place| %>
      <option value="<%=place[:latitude]%>,<%=place[:longitude] %>"> <%= place[:initials]%> </option>
    <% end %>
  </select>
</div>
<div id="map-paths"></div>
<div id="right-panel">
  <p>Total Distance: <span id="total"></span></p>
</div>
<script type="text/javascript">
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({
      draggable: true,
      map: map,
      panel: document.getElementById('right-panel')
    });
    var map = new google.maps.Map(document.getElementById('map-paths'), {
      zoom: 7,
      center: {lat: -5.748535, lng: -35.357119}
    });

    directionsDisplay.setMap(map);
    directionsDisplay.addListener('directions_changed', function() {
      computeTotalDistance(directionsDisplay.getDirections());
    });

    var onChangeHandler = function() {
      displayRoute(document.getElementById('start').value, document.getElementById('end').value, directionsService, directionsDisplay);
    };
    document.getElementById('start').addEventListener('change', onChangeHandler);
    document.getElementById('end').addEventListener('change', onChangeHandler);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.directions_google_api_key %>&callback=initMap"></script>
