<div id="floating-panel">
  <b><%= t '.start' %>: </b>
  <select id="start" class="form-control">
    <% @places.each do |place| %>
      <option value="<%=place[:latitude]%>,<%=place[:longitude] %>"> <%= place[:initials]%> </option>
    <% end %>
  </select>

  <b><%= t '.end' %></b>
  <select id="end" class="form-control">
    <% @places.each do |place| %>
      <option value="<%=place[:latitude]%>,<%=place[:longitude] %>"> <%= place[:initials]%> </option>
    <% end %>
  </select>
</div>
<div id="map-paths"></div>
<div id="right-panel">
  <p>Total Distance: <span id="total"></span></p>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVz4E_4pKqtMrerILua81D7zGYS26Iod8&callback=initMap"></script>
