<style>
  #map-form {
    height: 400px;
  }
</style>

<%= form_for place, html: {class: "form-group form-cadaster-place"} do |f| %>
  <% if place.errors.any? %>
    <%=  render '_commons/errors_form', errors: place.errors.full_messages  %>
  <% end %>

  <div class="field col-md-12">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :initials %>
    <%= f.text_field :initials, class: 'form-control' %>
  </div>
  <div class="col-md-12">
    <div class="col-md-10">
      <label for="address_text">Endereço:</label> <span class="helper-form-text"> Ex: IFRN natal, Midway natal </span> <br>
      <input type="text" id="address_text" name="address_text" class="form-control" />
    </div>
    <div class="col-md-2">
      <input type="button" id="address_button" name="address_button" value="Mostrar" class="form-control btn btn-warning" />
    </div>

    <div id="map-form" class="col-md-12"> </div>
  </div>

  <div class="field col-md-12">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: 'form-control', id: 'latitude_text' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control', id: 'longitude_text' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :street %>
    <%= f.text_field :street, class: 'form-control' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, class: 'form-control' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="field col-md-12">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>
  <div class="actions col-md-12">
    <%= f.submit 'Criar', class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.form_google_api_key %>"></script>
