<%= form_for place, html: {class: "form-group"} do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :initials %>
    <%= f.text_field :initials, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Criar', class: 'btn btn-default' %>
  </div>
<% end %>
