<p id="notice"><%= notice %></p>

<div class="container">
  <h1><%= t '.title' %> </h1>
  <%= link_to new_place_path do %>
    <%= t('.new_place') %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Place.human_attribute_name(:name)%></th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Initials</th>
        <th>Street</th>
        <th>Number</th>
        <th>Neighborhood</th>
        <th>Created at</th>
        
        <th colspan="3"> Actions </th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.latitude %></td>
          <td><%= place.longitude %></td>
          <td><%= place.initials %></td>
          <td><%= place.street %></td>
          <td><%= place.number %></td>
          <td><%= place.neighborhood %></td>
          <td><%= t I18n.localize place.created_at.to_date, format: :default %></td>

          <td><%= link_to 'Show', place %></td>
          <td><%= link_to 'Edit', edit_place_path(place) %></td>
          <td><%= link_to 'Destroy', place, remote: true, method: :delete,
                                     data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>
