<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @place.initials %>
</p>

<p>
  <strong>street:</strong>
  <%= @place.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @place.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @place.neighborhood %>
</p>

<p>
  <strong>city:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>state:</strong>
  <%= @place.state %>
</p>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
